* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  color: #ffffff;
  background-color: black;
}

.cursor-glow {
  position: fixed;
  width: 60px;
  height: 60px;
  background: radial-gradient(
    circle,
    rgba(202, 204, 206, 0.4) 0%,
    rgba(0, 123, 255, 0) 80%
  );
  border-radius: 50%;
  pointer-events: none;
  filter: blur(8px);
  transform: translate(-50%, -50%);
}
