.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.contact-form-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  text-align: left;
  width: 100%;
  margin-top: 6rem;

  @media (min-width: 600px) {
    font-size: 30px;
    text-align: left;
    width: 58%;
    margin-bottom: 5rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.956);

  @media (min-width: 600px) {
    font-size: 18px;
  }
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #90caf9;
  border-radius: 8px;
  background-color: #f3faff;
  font-size: 1rem;
  outline: none;
}

.contact-textarea {
  resize: none;
  height: 120px;
}

.contact-button {
  font-size: 14px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.6),
    rgba(0, 51, 255, 0.6),
    rgba(0, 102, 255, 0.6),
    rgba(0, 153, 255, 0.6),
    rgba(0, 204, 255, 0.6),
    rgba(51, 204, 255, 0.6),
    rgba(102, 204, 255, 0.6)
  );
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  margin-bottom: 3rem;

  @media (min-width: 600px) {
    font-size: 18px;
  }

  &:hover {
    background-color: #0d47a1; // Azul más oscuro al pasar el cursor
  }
}

.links {
  margin: 3rem;
  display: flex;
}

.icon-github,
.icon-linkedin,
.icon-pdf {
  margin: 0.5rem;
  width: 2rem;

  @media (min-width: 600px) {
    width: 4rem;
  }
}
